In [2]:
import pandas as pd
import json

In [3]:
filename = "../Data/Chunks/Dataset_filtered.csv"

df = pd.read_csv(filename)

In [9]:
df["date_time"].to_csv("Keys.csv", index=False)

In [10]:
for i in range(10):
    row = df.iloc[i]
    key = row["date_time"]
    value = {
        "col_1": float(row["col_1"]),
        "col_2": float(row["col_2"]),
        "col_3": float(row["col_3"])
    }

    value_json = json.dumps(value)
    print(value_json)

{"col_1": 1120.0, "col_2": 7.0, "col_3": 82.71428571428571}
{"col_1": 594.0, "col_2": 8.0, "col_3": 82.79166666666667}
{"col_1": 4335.0, "col_2": 19.0, "col_3": 85.76754385964912}
{"col_1": 161.0, "col_2": 12.0, "col_3": 81.5}
{"col_1": 4520.0, "col_2": 8.0, "col_3": 86.25}
{"col_1": 1328.0, "col_2": 2.0, "col_3": 75.25}
{"col_1": 2196.0, "col_2": 27.0, "col_3": 83.68827160493828}
{"col_1": 4356.0, "col_2": 8.0, "col_3": 86.1875}
{"col_1": 3915.0, "col_2": 6.0, "col_3": 68.75}
{"col_1": 1950.0, "col_2": 4.0, "col_3": 83.125}

In [11]:
value_json

'{"col_1": 1950.0, "col_2": 4.0, "col_3": 83.125}'

In [12]:
key

'2021-04-26 12:20:00'

In [24]:
rows = []

In [25]:
data = json.loads(value_json)
data

{'col_1': 1950.0, 'col_2': 4.0, 'col_3': 83.125}

In [26]:
data["date_time"] = key

In [27]:
data

{'col_1': 1950.0,
 'col_2': 4.0,
 'col_3': 83.125,
 'date_time': '2021-04-26 12:20:00'}

In [28]:
rows.append(data)

In [34]:
rows.append(data)

In [35]:
rows

[{'col_1': 1950.0,
  'col_2': 4.0,
  'col_3': 83.125,
  'date_time': '2021-04-26 12:20:00'},
 {'col_1': 1950.0,
  'col_2': 4.0,
  'col_3': 83.125,
  'date_time': '2021-04-26 12:20:00'},
 {'col_1': 1950.0,
  'col_2': 4.0,
  'col_3': 83.125,
  'date_time': '2021-04-26 12:20:00'}]

In [40]:
df_get = pd.DataFrame(rows)

In [41]:
df_get = df_get[['date_time', 'col_1', 'col_2', 'col_3']]

In [45]:
df_get.head()

             date_time   col_1  col_2   col_3
0  2021-04-26 12:20:00  1950.0    4.0  83.125
1  2021-04-26 12:20:00  1950.0    4.0  83.125
2  2021-04-26 12:20:00  1950.0    4.0  83.125